<html>
<head>
</head>
<body>
	<h1>Welcome {{first_name}}</h1>
	<div>Most Frequent Customer is {{data['name'] + " " + data['email']}}</div><br>
	<form action="/customer_flights" method="POST" style='display:inline;'>
		<input type="text" name="cus_email" placeholder="Customer Email">
		<button type="view" class="btn-link" >Search Customer Flights</button>
	</form><br><br>
	<form action="/create_flight_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Create New Flight</button>
	</form>
	<form action="/add_plane_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Add Airplane</button>
	</form>
	<form action="/add_airport_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Add Airport</button>
	</form>
	<form action="/view_flights" method="POST" style='display:inline;'>
		<input type="hidden" name="start_date" value="{{start_date}}">
		<input type="hidden" name="end_date" value="{{end_date}}">
		<input type="hidden" name="from_home" value="{{from_home}}">
		<input type="submit" value = "View Flights"/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</form>
	<form action="/view_report" method="POST" style='display:inline;'>
		<input type="hidden" name="start_date" value="{{report_start_date}}">
		<input type="hidden" name="end_date" value="{{report_end_date}}">
		<input type="hidden" name="from_home" value="{{from_home}}">
		<input type="submit" value = "View Report"/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</form><br><br>
	<form>
		<input type="submit" value = "Logout" formaction="/logout"/>
	</form>

</body>


</html>
