<html>
<head>
</head>
<body>
	<h1>Welcome {{first_name}}</h1>
	<div>Most Frequent Customer is {{data['name'] + " " + data['email']}}</div><br>
	<form action="/customer_flights" method="POST" style='display:inline;'>
		<input type="text" name="cus_email" placeholder="Customer Email">
		<button type="view" class="btn-link" >Search Customer Flights</button>
	</form><br><br>

	<h3>Revenue from Booking Agents is ${{'%0.2f' % agent_sales|float}}</h3>
	<h3>Revenue from Customers is ${{'%0.2f' % cus_sales|float}}</h3>
	<h3>Top destinations for the past year</h3>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<table>
		<th>Destination</th>
		<th>Tickets Sold</th>
	{% for line in top_destination %}
		<tr>
			<td>{{line['city']}}</td>
			<td>{{line['num_tickets']}}</td>
		</tr>
	{% endfor %}
	</table>

	<h3>Top 5 Booking Agents Based on Tickets Sold</h3>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<table>
		<th>Booking Agent</th>
		<th>Tickets Sold</th>
	{% for line in agents %}
		<tr>
			<td>{{line['booking_agent_ID']}} <br> {{line['email']}}</td>
			<td>{{line['num_tickets']}}</td>
		</tr>
	{% endfor %}
	</table>
	<h3>Top 5 Booking Agents Based on Commision</h3>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<table>
		<th>Booking Agent</th>
		<th>Commision</th>
	{% for line in agents_commission %}
		<tr>
			<td>{{line['booking_agent_ID']}} <br> {{line['email']}}</td>
			<td>${{'%0.2f' % line['commission']|float}}</td>
		</tr>
	{% endfor %}
	</table><br>
	<form action="/create_flight_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Create New Flight</button>
	</form>
	<form action="/add_plane_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Add Airplane</button>
	</form>
	<form action="/add_airport_form" method="POST" style='display:inline;'>
		<button type="view" class="btn-link" >Add Airport</button>
	</form>
	<form action="/view_flights" method="POST" style='display:inline;'>
		<input type="hidden" name="start_date" value="{{start_date}}">
		<input type="hidden" name="end_date" value="{{end_date}}">
		<input type="hidden" name="from_home" value="{{from_home}}">
		<input type="submit" value = "View Flights"/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</form>
	<form action="/view_report" method="POST" style='display:inline;'>
		<input type="hidden" name="start_date" value="{{report_start_date}}">
		<input type="hidden" name="end_date" value="{{report_end_date}}">
		<input type="hidden" name="from_home" value="{{from_home}}">
		<input type="submit" value = "View Report"/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</form><br><br>
	<form>
		<input type="submit" value = "Logout" formaction="/logout"/>
	</form>

</body>


</html>
