<html>
<head>
</head>
<body>
	<h1>Welcome {{name}}</h1>
	<h2>Upcoming Flights</h2>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight No</th>
	<th>Departure City</th>
	<th>Arrival City</th>
	<th>Departure Date</th>
	<th>Arrival Date</th>

{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['s.city']}}</td>
		<td>{{line['t.city']}}</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['arrival_date']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
