<html>
<head>
</head>
<body>
	<h1>Welcome {{name}}</h1>
	<h2>Upcoming Flights</h2>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight No</th>
	<th>Departure City</th>
	<th>Arrival City</th>
	<th>Departure Date</th>
	<th>Arrival Date</th>

{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_city']}}</td>
		<td>{{line['arrival_city']}}</td>
		<td>{{line['departure_date']}}<br>{{line['departure_time']}}</td>
		<td>{{line['arrival_date']}}<br>{{line['arrival_time']}}</td>
	</tr>
{% endfor %}
</table><br>

<form>
	<input type="submit" value = "Rate Previous Flights" formaction="/rate_flight_list"/>
</form><br>
<h3>Flight Search</h3>
	<form action="/oneway_purchase" method="POST">
		<input type="text" name = "leaving" placeholder="Leaving from" required/>
		<input type="text" name = "to" placeholder="Going to" required/>
		<input type="text" name = "departure_date" placeholder="Departing date" onfocus="(this.type='date')"/>
		<input type="text" name = "returning_date" placeholder="Returning date" onfocus="(this.type='date')"/></br></br>
		<input type="submit" value = "One Way"/>
		<input type="submit" value = "Round Trip" formaction="/departing_trip_cus"/>
	</form>
<form>
	<input type="submit" value = "Logout" formaction="/logout"/>
</form>

</body>


</html>
