<html>
<head>
</head>
<body>
	<h1>Departing Flights</h1>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight No</th>
	<th>Leaving from</th>
	<th>Going to</th>
	<th>Departure Date</th>
	<th>Arrival Date</th>
	<th>Price</th>
	<th></th>

{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_city']}} ({{line['departure_airport']}})</td>
		<td>{{line['arrival_city']}} ({{line['arrival_airport']}})</td>
		<td>{{line['departure_date']}}<br>{{line['departure_time']}}</td>
		<td>{{line['arrival_date']}}<br>{{line['arrival_time']}}</td>
		<td>${{'%0.2f' % line['sale_price']|float}}</td>
		<td>
			<form action="/returning_trip_purchase" method="POST">
				<button type="submit" class="btn-link" >Select</button>
				<input type="hidden" name="departure_flight_number" value="{{line['flight_number']}}">
				<input type="hidden" name="departure_airline" value="{{line['airline']}}">
				<input type="hidden" name="departure_date" value="{{line['departure_date']}}">
				<input type="hidden" name="departure_price" value="{{line['sale_price']}}">
				
				<input type="hidden" name="returning_date" value="{{returning_date}}">
				<input type="hidden" name="returning_from" value="{{line['arrival_airport']}}">
				<input type="hidden" name="returning_to" value="{{line['departure_airport']}}">

			</form>
		</td>
	</tr>
{% endfor %}
</table><br>

<form>
	<input type="submit" value = "Go back" formaction="/cus_home"/>
</form>

</body>


</html>
