<html>
<head>
</head>
<body>
	<h1>Welcome</h1>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight No</th>
	<th>Status</th>
	<th>Leaving from</th>
	<th>Going to</th>
	<th>Departure Date</th>
	<th>Arrival Date</th>

{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['status']}}</td>
		<td>{{line['departure_city']}} ({{line['departure_airport']}})</td>
		<td>{{line['arrival_city']}} ({{line['arrival_airport']}})</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['arrival_date']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/">Go Back</a>

</body>


</html>
