<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<h1>Airline Ticket Reservation System</h1>
	<form>
		<input type="submit" value = "Customer Login" formaction="/cus_login"/>
		<input type="submit" value = "Booking Agent Login" formaction="/agent_login"/>
		<input type="submit" value = "Airline Staff Login" formaction="/astaff_login"/>
	</form></br></br>

	<h3>Flight Search</h3>
	<form action="/oneway" method="POST">
		<input type="text" name = "leaving" placeholder="Leaving from" required/>
		<input type="text" name = "to" placeholder="Going to" required/>
		<input type="text" name = "departure_date" placeholder="Departing date" onfocus="(this.type='date')"/>
		<input type="text" name = "returning_date" placeholder="Returning date" onfocus="(this.type='date')"/></br></br>
		<input type="submit" value = "One Way"/>
		<input type="submit" value = "Round Trip" formaction="/departing_trip"/>
	</form>

	<h3>Check Flight Status</h3>
	<form action="/flight_status" method="POST">
		<input type="text" name = "airline" placeholder="Airline" required/>
		<input type="text" name = "flight_number" placeholder="Flight Number" required/>
		<div style="display: inline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<input type="text" name = "departure_date" placeholder="Departure date" onfocus="(this.type='date')"/>
		<div style="display: inline;"> or </div>
		<input type="text" name = "arrival_date" placeholder="Arrival date" onfocus="(this.type='date')"/></br></br>
		<input type="submit" value = Search />
	</form>
</body>

</html>
