<html>
<head>
</head>
<body>
	<h1>Past Trips</h1>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Flight No</th>
	<th>Leaving from</th>
	<th>Going to</th>
	<th>Departure Date</th>
	<th>Arrival Date</th>
	<th>Price</th>
	<th></th>

{% for line in data %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_city']}} ({{line['departure_airport']}})</td>
		<td>{{line['arrival_city']}} ({{line['arrival_airport']}})</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['arrival_date']}}</td>
		<td>${{'%0.2f' % line['base_price']|float}}</td>
		<td>
			<form action="/rate_flight_form" method="POST">
				<button type="submit" class="btn-link" >Rate</button>
				<input type="hidden" name="flight_number" value="{{line['flight_number']}}">
				<input type="hidden" name="airline" value="{{line['airline']}}">
				<input type="hidden" name="departure_date" value="{{line['departure_date']}}">
				<input type="hidden" name="departure_time" value="{{line['departure_time']}}">
			</form>
		</td>
		</tr>
{% endfor %}
</table><br>

<form>
	<input type="submit" value = "Go back" formaction="/cus_home"/>
</form>

</body>


</html>
